@CHARSET "ISO-8859-1";
#modal-content {
	border-radius: 0px;
}

#modal-dialog {
	width: 425px;
}

.modal-body{
	background-color: #f5f5f5;
}

.modal-footer{
	background-color: #f5f5f5;
}

.form-control{
	border-radius: 1px !important;
}
input.form-control{
	height: 30px !important;
}