#content #title-subject {
	text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
    color: brown;
}

#content #documents {
	
}

#content #documents h4#intr{
	font-weight: bold;
}

#content #documents ul{
	
}

#content #documents ul li{
	
}

#content #documents ul li a{
	
}

#content #slide-subject {
	
}

#content #slide-subject p{
	font-size: 18px;
}

#content #slide-subject ul{
	
}

#content #slide-subject ul li{
	
}

#content #slide-subject ul li a{
	
}