<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebCNM</display-name>
  <servlet>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.webcnm.controller.backend.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MainAdmin</servlet-name>
    <servlet-class>com.webcnm.controller.backend.MainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubjectAdmin</servlet-name>
    <servlet-class>com.webcnm.controller.backend.SubjectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewAdmin</servlet-name>
    <servlet-class>com.webcnm.controller.backend.NewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentAdmin</servlet-name>
    <servlet-class>com.webcnm.controller.backend.StudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherAdmin</servlet-name>
    <servlet-class>com.webcnm.controller.backend.TeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SurveyAdmin</servlet-name>
    <servlet-class>com.webcnm.controller.backend.SurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/admin/auth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainAdmin</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubjectAdmin</servlet-name>
    <url-pattern>/admin/subject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewAdmin</servlet-name>
    <url-pattern>/admin/new</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentAdmin</servlet-name>
    <url-pattern>/admin/student</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherAdmin</servlet-name>
    <url-pattern>/admin/teacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SurveyAdmin</servlet-name>
    <url-pattern>/admin/survey</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AdminAuthFilter</filter-name>
    <filter-class>com.webcnm.controller.backend.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminAuthFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>MainHome</servlet-name>
    <servlet-class>com.webcnm.controller.frontend.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainHome</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewHome</servlet-name>
    <servlet-class>com.webcnm.controller.frontend.NewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewHome</servlet-name>
    <url-pattern>/new</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubjectHome</servlet-name>
    <servlet-class>com.webcnm.controller.frontend.SubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectHome</servlet-name>
    <url-pattern>/subject</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SurveytHome</servlet-name>
    <servlet-class>com.webcnm.controller.frontend.SurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveytHome</servlet-name>
    <url-pattern>/survey</url-pattern>
  </servlet-mapping>
</web-app>