<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">bac17041994</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/web_project</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.show_sql">true</property>
		
        <mapping class='com.webcnm.modal.Teacher'></mapping>
        <mapping class='com.webcnm.modal.Subject'></mapping>
        <mapping class='com.webcnm.modal.New'></mapping>
        <mapping class='com.webcnm.modal.Student'></mapping>
        <mapping class='com.webcnm.modal.Survey'></mapping>
        <mapping class='com.webcnm.modal.Answer'></mapping>
    </session-factory>
</hibernate-configuration>
